.toolbar{
    margin-top:0.5rem;
    padding:1rem;
    text-align: center;
}
.icon{
    
    padding:1rem;
    font-size: 4rem;
    color: cornflowerblue;
    cursor:pointer;
}
.size-18px{
    font-size:18px;
}