.main{
    padding:10px;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
textarea {
    resize: none;
   
    max-width:100%;min-height:150px;
}
label{
    padding:5px;
}
/* .border-none{
    border: none;
} */
i{
    padding-left:10px;
}
.margin-right{
    position:absolute;
    right: 10px;
}